<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="">

    <Properties>

        <Property name="basePath">./LogDir</Property>
        <Property name="logPattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>

    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <RollingFile name="warnLoggerApp" fileName="${basePath}/APP-INFO/app_warn.log"
                     filePattern="${basePath}/app-warn-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="infoLoggerApp" fileName="${basePath}/APP-INFO/app_info.log"
                     filePattern="${basePath}/app-info-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="infoLoggerTest" fileName="${basePath}/TEST-INFO/test_info.log"
                     filePattern="${basePath}/test-info-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="appLogger" level="ALL" additivity="false">
            <appender-ref ref="warnLoggerApp"/>
            <appender-ref ref="infoLoggerApp"/>
        </Logger>

        <Logger name="testLogger" level="ALL" additivity="false">
            <appender-ref ref="infoLoggerTest"/>
        </Logger>

    </Loggers>

</Configuration>
